.home-form {
  height: 425px;
  width: 360px;
  background: white;
  margin: 30px;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: -30px;
  .top {
    h3.top {

    }
    top: 147px;
    left: 892px;
    width: 360px;
    height: 57px;
    justify-content: space-around;
    font-family: Montserrat, semiBold;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border-radius: 5px 5px 0px 0px;
    padding: 20px;
    font-size: 20px;
    color: #333333;
    padding: 10px 30px;
    .color {
      color: #E27866;
      font-size: 20px;
    }
  }

.details {
  font-family: Montserrat, semiBold;
  height: 10px;
  color: #1C1C1C;
  font-size: 16px;
  padding: 25px 30px;
  margin-top: 10px;
}

.contacts {
  font-family: Montserrat, Regular;
  font-size: 12px;
  color: #D8D8D8;
  margin: 5px 10px;
  padding-top: 15px;
  opacity: 1;
}

.info {
  border-bottom: 1px solid #D8D8D8;
  color: #D8D8D8;
  height: 3px;
  opacity: 1;
}

  .bottom {
    top: 515px;
    left: 892px;
    width: 360px;
    height: 57px;
    background: #41D395 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 5px 5px;
    margin: 251px 0 0 -487px;
    color: white;
    text-align: center;
    padding-top: 15px;
}

h2 {
  font-size: 18px;
  color: #FFFFFF;
  font-family: Montserrat, semiBold;
  padding-top: 5px;
}

  .radios-inputs {
    display: flex;
    margin-top: 10px;


  h4 {
    height: 5px;
    font-family: Montserrat, semiBold;
    font-size: 16px;
    color: black;
    font-weight: 600;
    margin-top: -20px;
}

.radios-container {
    display: flex;
    height: 20px;
    margin-top: 180px;
    margin-left: 20px;
    padding: 20px;
  }
  .custom-radio {
    display: flex;
    height: 20px;


    label {
      width: 100px;
      height: 20px;
      opacity: 0.6;
      margin-top: 10px;
      padding-right: 10px;
      cursor: pointer;
      .radio {
        display: inline-block;
        position: relative;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        border: 1px solid #41d395;
        opacity: 0.5;
        transition: 0.3s ease-in-out;

        &:after {
          content: "";
          width: 5px;
          height: 5px;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          background-color: #41d395;
          border-radius: 50%;
          transform: scale(0);
          transition: 0.3s ease-in-out;
        }
      }

      span {
        color: black;
        font-size: 14px;
      }
    }

    input {
      display: none;

      &:checked + label {
        opacity: 1;
        .radio:after {
            transform: scale(1);
        }
      }
    }

}
}
}
